<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA99_jnB-PkDzPWktELmZxS2iaGF6owt1g</string>
	<key>GCM_SENDER_ID</key>
	<string>769509512529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.truckerCompass</string>
	<key>PROJECT_ID</key>
	<string>trucker-compass</string>
	<key>STORAGE_BUCKET</key>
	<string>trucker-compass.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769509512529:ios:d4c8d192f251e2419d2f70</string>
</dict>
</plist>